/* 
- CSS stands for Cascading Stylesheets 
- It is not a programming language, but a styling language
- Used for website layout and design
- can be extended with Sass/Less 

There are 3 main ways to add css in html
- Inline CSS
- Internal CSS
- External CSS

For Colors, we can use
- Color Names
- HTML5 Color Names
- Hexadecimal (Short Cut available)
- RGB
*/

/*
*{
    margin: 0;
    padding: 0;
}
*/

.clr{
    clear: both;
}

/* Global Styling of link*/
a{
    text-decoration: none;
    color: rgb(0, 119, 255);
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

a:visited {
    color: yellow;
}

body {
    background-color: #f4f4f4;
    color: #555555;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    font-weight: lighter;
    /* ShortCut >>> font: lighter 14px Cambria, Cochin, Georgia; */
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;  /* ShortCut >>> Top-Right-Bottom-Left | Horizontal-Vertical | allside */
}

.box-1{
    background-color: #333;
    color: #fff;

    border-right: 5px blue solid; /* Width-Color-Type */
    border-left: 5px blue solid;
    border-top: 5px blue solid;
    border-bottom: 5px blue solid;
    border: 5px blue solid;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;

    padding:20px;
    margin: 20px 0;
}

.box-1 h1 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2 {
    border: 3px darkgrey dotted;
    padding: 20px;
    margin: 20px 0;
}

.catagories {
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 20px; 
}

.container h2 {
    text-align: center; 
}

.catagories ul {
    padding: 0 40px;
    list-style-type: none;
}

.catagories li {
    padding-bottom: 5px;
    border-bottom: 1px #333 dotted;
    list-style-image: url("images/check.png");
}

.my-form {
    padding:20px;
    border: 3px #333 solid;
    margin: 20px 0;
}

.my-form .form-group {
    padding-bottom: 15px;
}

.my-form label{ 
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 95%;
}

.button{
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
}

.button:hover{
    background: #000;
    transform: scale(1.2);
}

.block {
    float: left;
    width: 33.3%;
    border: 1px #ccc solid;
    padding: 10px;
    box-sizing: border-box;
}

#main-block{
    float:left;
    width:70%
}

#side-bar{
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

/* 
Positioning in CSS:
- static (default)
- relative
- absolute
- fixed
- initial
- inherit
*/

.p-box {
    width: 500px;
    height: 200px;
    border: 1px #000 solid;
    margin-top: 30px;
    position: relative;
    background-image: url("images/bg-image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    color:#fff;
}

.p-box h1 {
    position: absolute;
    top:40px;
    left: 200px;
}

.p-box h2 {
    position:absolute;
    bottom: 40px;
    right: 100px;
}

.fix-me {
    position: fixed;
    bottom: 20px;
    right: 20px; 
}

/*CSS Pseudo Classes*/
.my-list li:first-child {
    background: red;
}

.my-list li:last-child {
    background: blue;
}

.my-list li:nth-child(5) {
    background: green;
} 

.my-list li:nth-child(even) {
    background: grey;
}