body {
    background-color: #f4f4f4;
    color: #555;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width:80%;
    margin: auto;
    overflow: hidden; 
}

#main-header {
    background-color: coral;
    color: white;
}

#navbar {
    background-color: #333;
    color: white;
}

#navbar ul {
    padding:0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 20px;
}

#showcase {
    background-image: url("images/showcase.jpg");
    background-position: center right;
    min-height: 300px;
    margin-bottom: 30px;
    text-align:center;
}

#showcase h1{
    color: black;
    font-size: 25px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background: #555;
    color: #fff;
    padding: 30px;
    box-sizing: border-box;
}

#main-footer{
    background: #333;
    color: white;
    text-align:center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width:600px){
    #main{
        float:none;
        width:100%;
    }

    #sidebar{
        float:none;
        width:100%;
    }
}