/* 
Difference between grid layout and flexbox?
- FlexBox is one dimentional (row or column)
- Grid Layout is tqo dimentional (row and column)
*/

.wrapper{
    display:grid;
    grid-template-columns: 70% 30%;
    /*
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    */
    grid-gap: 10px;
}

.wrapper > div:nth-child(even) {
    background-color: #eee;
    padding: 10px;
}

.wrapper > div:nth-child(odd) {
    background-color: #ccc;
    padding: 10px;
}