body{
    background-color: #333;
}

.box{
    background-color: white;
    width: 300px;
    height: 300px;
    position: relative;
    margin:auto;
    top: 200px;
    /* transition-property: background, border-radius, transform; 
    transition-duration: 1s, 2s; */
    transition-property: all;
    transition-duration: 1s;
    /* transition-delay: 1s, 2s; */
    transition-timing-function: ease-in-out;
}

.box:hover {
    background-color: red;
    border-radius: 50%;
    transform: rotateY(180deg);
}

/* .box:active {
    background-color: red;
} */

/* 
TRANSITIONAL PROPERTIES
-Properties that have an identifiable halfway point

background-color 
background-position 
border-color 
border-width 
border-spacing 
bottom 
color
font-size 
font-weight 
height left 
letter-spacing 
line-height 
margin 
max-height 
max-width 
min-height 
min-width 
opacity 
outline-color 
outline-offset 
outline-width 
padding right 
text-indent 
text-shadow 
top 
vertical-align 
visibility 
width 
word-spacing 
z-index */