*{
    margin: 0;
    padding: 0;
}

body {
    background:#12475f;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    line-height: 1.6em;
    text-align: center;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 0 30px;
}

#showcase {
    height: 250px;
}

#showcase h1 {
    font-size: 50px;
    line-height: 1.3em;
    position: relative;
    animation-name: heading;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes heading {
    0%{
        top: -50px;
    }
    100%{
        top: 180px;
    }
}

#content {
    position: relative;
    animation-name: content;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes content {
    0%{
        left: -1000px;
    }
    100%{
        left: 0px;
    }
}

.btn {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1em 2em;
    border: white 1px solid;
    margin-top: 40px;
    opacity: 0;
    animation-name: btn;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;

    transition-property: transform;
    transition-duration: 1s;
}

@keyframes btn {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.btn:hover {
    transform: rotateY(180deg);
}