aside {
    width: 200px;
    height: 400px;
    background-color: greenyellow;
}

aside h3 {
    color: red;
    padding-left: 30px;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin-left: 220px;
    margin-top: -400px;
}

section article p {
    height: 25px;
}

header {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
    background-color: black;
    color: white;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 50px;
    padding-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 30px;
}
