nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #1eff00;
}

@use 'base';
.inverse {
  background-color: #1eff00;
  color: #fff;
}

.box {
  -webkit-transform: rotate(30deg);
  transform: property;
}

.message, .success, .error {
  border: 1px solid #ccc;
  padding: 10px;
  color: #fff;
}

.success {
  border-color: green;
}

.error {
  border-color: red;
}

.container {
  width: 100%;
}

article[role="main"] {
  float: left;
  width: 62.5%;
}

article[role="aside"] {
  float: left;
  width: 37.5%;
}
