%btn {
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;

    &:hover {
        transform: scale(0.95);
    }
}

.btn-primary {
    @extend %btn;
    // background-color: lighten($primary-color, 10%); 
    // we don't need to import config to use those variables.
    // because now everything wil be compiled in the main style.scss file.
    // we can use lighten and darken functions, first param is the color, second param is the percentage of lighten/darken.
    @include set-background(lighten($primary-color, 10%));
}

.btn-secondary {
    @extend %btn;
    // background-color: $secondary-color;
    @include set-background($secondary-color);
}