// sometimes we need to separate our variables, functions, mixins
// in a separate file 
// This file won't be compiled because we have _ before its name
// This is called partials

$light-color: #f4f4f4;
$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #0e6cff;
$secondary-color: #ff8700;

// Creating a function whih will return dark text-color if the back-ground color is light and,
// will return light text-color if the background-color is dark.
@function set-text-color($color) {
    @if(lightness($color) > 60) { // light color
        @return #333; // returning
    }

    @else {
        @return #fff;
    }
}

// Set Background & Text Color
@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);
}
