// This file is for media queries
@media only screen and (max-width: 700px) {
    .showcase {
        height: 400px;
        
        &-content {
            text-align: center;
    
            img {
                display: none;
            }
        }
    }

}
