@import "config";
@import "utilities";
@import "buttons";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $light-color;
    font-family: $font-stack;
    line-height: 1.6em;
}  

img {
    width: 10%;
}

a {
    text-decoration: none;
}

.showcase {
    @include set-background($primary-color);
    height: 600px;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            list-style: none;
            
            li {
                padding: 15px;

                a {
                    color: set-text-color($primary-color);
                }

                a:hover {
                    color: $secondary-color;
                }
            }
        }
    }

    &-content {  //we can do that if the first part is simmilar to parent class
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;

        img {
            width: 50%;
        }

        h1 {
            font-size: 50px;
            line-height: 1.2em;
        }
    }
}
 

@import "mobile";
// we are placing the media queries here because 
// css file will also create media queries at the end